shamefully-hoist=true
auto-install-peers=true
dedupe-peer-dependents=true
use-lockfile-v6=true

# If you use a workspace then these too:
# save-workspace-protocol=rolling
# resolve-peers-from-workspace-root=true
#
registry=https://registry.npmmirror.com/