{
  "$schema": "http://json.schemastore.org/prettierrc",
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": false
}
